[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pymysql = "*"
wechatpy = "*"
requests = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
coverage = "*"
flask-migrate = "*"
cryptography = "*"

[requires]
python_version = "3.6"
